# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by PyInstaller:
#  *.manifest
#  *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
# Adjust these if you keep your virtualenv in a different folder
venv/
env/
.venv/
env.bak/
venv.bak/

# Flask specific
instance/
*.sqlite3
*.db
*.sqlite
app.db
__pycache__/
# Uncomment below if you keep your migrations or caches separate
# migrations/
# cache/

# Flask environment variables
.env
.flaskenv

myenv/

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log
log/
logs/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Profiling data
*.lprof

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Sphinx documentation
docs/_build/

# Temporary files
*.bak
*.swp
*.swo
~*

# System-specific or tool-specific files
Thumbs.db
desktop.ini
